.expenseForm {
  display: flex;
  justify-content: flex-end;
}

h3 {
  padding-top: 5%;
}

.forms {
  border: 1px solid rgba(90, 90, 90, 0.356);
}

.mainForm {
  display: flex;
  align-content: center;
  flex-direction: column;
}
