.info {
  display: flex;
  align-items: center;
  margin-top: 5%;
  justify-content: center;
}

.infoSection {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  width: 45%;
  /* border: 1px solid red; */
}

.tabs {
  width: 82%;
}

.tabPortion {
  width: 45%;
}

.calculatorImage {
  width: 75%;
}

/*
//color palette:
#403C57  
#e8491d    
#7469EC
#ffffff
*/
