/* .signupForm {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
} */

.signupForm {
  padding-top: 20px;
}

.loginForm {
  padding-top: 20px;
}

.signupPage {
  padding-top: 20px;
}

.loginPage {
  padding-top: 20px;
}
